<div class="img_publication">
	
</div>

<div class="wrapper-text-publication">
	<h2><%= @publication.title %></h2>

	<div>
	  <span class="glyphicon glyphicon-fire" aria-hidden="true"></span>
	  <%= @publication.visits_count %>
	</div>

	<p>
	  <%= @publication.description %>
	</p>


</div>


